<p class="foot-logos">
  <a href="https://basecamp.com/" target="_blank" rel="noopener">
    <img width="253" height="56" src="/images/logo-basecamp.svg" alt="Basecamp">
  </a>
  <a href="https://hey.com/" target="_blank" rel="noopener">
    <img width="122" height="56" src="/images/logo-hey.svg" alt="HEY">
  </a>
</p>
<p class="foot-text">
  <span>Brought to you by the team at <a href="https://basecamp.com/" target="_blank" rel="noopener">Basecamp</a> & <a href="https://hey.com/" target="_blank" rel="noopener">HEY</a>.</span>
</p>
