<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ site.title }}{% if page.section_title %} {{ page.section_title }}{% endif %}{% if page.title %}: {{ page.title }}{% endif %}</title>
  {% if page.description -%}
    <meta name="description" content="{{ page.description }}">
  {% else -%}
    <meta name="description" content="{{ site.description }}">
  {% endif -%}
  <link rel="canonical" href="{{ page.url | replace: "index.html", "" | prepend: site.url }}">

  <link rel="alternate icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
  <link rel="icon" type="image/svg+xml" href="/images/favicon.svg">
  <link rel="mask-icon" href="/images/favicon.svg" color="#000000">
  <link rel="apple-touch-icon" href="/images/favicon-196x196.png">

  <link rel="preload" href="/assets/fonts/Bitter-Roman.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/assets/fonts/Bitter-Italic.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/assets/fonts/Jost-Roman.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/assets/fonts/Jost-Italic.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/assets/fonts/RobotoMono-Roman.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/assets/fonts/RobotoMono-Italic.woff2" as="font" type="font/woff2" crossorigin>

  <link rel="stylesheet" href="/css/main.css">
  <script src="/js/main.js" type="module"></script>
</head>
