<a class="nav-skip" href="#content">Skip to content</a>

<nav class="jump">
  <ul class="jump__list">
    <li><a class="jump__list-link jump__list-link--hotwire" href="https://hotwire.dev">Hotwire:</a></li>
    <li><a class="jump__list-link jump__list-link--active" href="https://turbo.hotwire.dev">Turbo</a></li>
    <li><a class="jump__list-link" href="https://stimulus.hotwire.dev">Stimulus</a></li>
    <li><span class="jump__list-link jump__list-link--disabled">Strada (Coming Soon!) </span></li>
  </ul>
</nav>
