// docs layout ////////////////////////////////////////////////////////////

.docs {
  position: relative;
}

.docs__content {
  grid-column-start: 2;

  @include media(medium) {
    grid-column: 6 / span 8;
  }

  @include media(large) {
    grid-column: 5 / span 8;
  }
  

  h1, h2, h3, h4, h5, h6 {
    text-align: left;
  }

  h1 {
    margin-top: 1.3em;
  }

  p > img:not([class]) {
    min-width: 15em;
  }
}

.docs__index {
  grid-column-start: 2;
  margin: 0;
  text-align: left;
  overflow-y: auto;

  @include media(small) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
  }

  @include media(medium) {
    grid-column: 2 / span 4;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    bottom: 0;
    min-height: 100vh;
    padding: 3.25em 0 0 0;
  }

  @include media(large) {
    grid-column: 2 / span 3;
  }
}

.docs__footer {
  margin: 4em 0 1em 0;
  text-align: left;
}

.docs__screenshot {
  max-width: 100%;
  height: auto;
  border: 0.2rem solid $color-background;
  border-radius: 5px;
  box-shadow: 0 0 1em rgba($color-text, 0.1);
}
