.footer {

  align-items: center;
  display: flex;
  flex-direction: column;

  &__headline {
    font-size: 85%;
    font-style: italic;
    margin: 0 0 0.6em 0;
  }

  &__links {

    align-items: center;
    display: flex;
    gap: 0.4em;
    justify-content: center;
    margin: 0;

    li {

      display: flex;
      margin: 0;

      a {

        display: flex;

        img {
          height: 1.7em;
          width: auto;
        }

      }

      span {
        display: flex;
        font-size: 65%;
        font-style: italic;
        margin-top: 0.5em;
      }

    }

  }

  &__copyright {
    font-size: 85%;
    margin: 2.5em 0 0 0;
  }

}
