.anchor {
  float: left;
  margin: 0 0 0 -1em;
  padding: 0;
  font-size: $font-x-small;
  text-decoration: none;
  opacity: 0.5;
}

@media (hover: hover) {
  .anchor {
    opacity: 0;
    transition: opacity 60ms ease-in-out;
  }

  [id]:hover > .anchor {
    opacity: 0.7;
    &:hover { opacity: 1; }
  }
}
