.anchor {
  position: relative;

  &:hover {
    .anchor__link {
      opacity: 0.7;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.anchor__link {
  position: absolute;
  margin: 0 0 0 -1em;
  padding: 0.05em 0 0 0;
  font-size: $font-x-small;
  text-decoration: none;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.button {
  transition: font-weight 0.1s ease, clip-path 0.2s ease;
  display: inline-block;
  padding: 1em 1.5em;
  color: $color-text;
  font-family: $sans-stack;
  text-decoration: none;
  text-align: center;
  line-height: normal;
  -webkit-appearance: none;
  background-color: $color-accent;
  border: 0;
  box-shadow: none;
  clip-path: polygon(5% 10%, 46% 1%, 46% 10%, 100% 0, 95% 90%, 31% 100%, 31% 90%, 0% 100%);

  &:visited {
    color: $color-text;
  }

  &:hover {
    color: $color-text;
    cursor: pointer;
    text-decoration: none;
    font-weight: 800;
    clip-path: polygon(5% 10%, 66% 1%, 66% 10%, 100% 0, 95% 90%, 51% 100%, 51% 90%, 0% 100%);
  }
}
