.callout {
  background-color: #fe8;
  color: #000;
}

.callout--avoid {
  text-decoration: line-through;
  color: #c00;
}

.callout--prefer {
  color: #0a0;
}

.callout--pink {
  background-color: #fac;
  color: #000;
}

.callout--blue {
  background-color: #8cf;
  color: #000;
}

.callout--green {
  background-color: #afc;
  color: #000;
}
