// docs layout ////////////////////////////////////////////////////////////

.docs {
  margin: 0 auto;
  padding: 0 1em;

  @include media(medium) {
    max-width: 90em;

    @supports (display: grid) {
      max-width: 100%;
      padding: 0;
      display: grid;
      grid-template-columns: 0.25fr 2.5fr 0.5fr 65vw 0.25fr;
    }
  }

  @include media(large) {
    grid-template-columns: 0.5fr 2.5fr 0.5fr 60vw 1fr;
  }
}

.docs__content {
  grid-column: 4/5;
  max-width: $column-width;
  margin: 0 auto;

  @include media(medium) {
    max-width: 100%;
    margin-top: 6em;
  }

  h1, h2, h3, h4, h5, h6 {
    text-align: left;
  }

  h1 {
    margin-top: 0;
  }
}

.docs__screenshot {
  max-width: 100%;
  height: auto;
  border: 1px solid transparentize($color-accent, 0.6);
  border-radius: 5px;
  box-shadow: 2px 2px 22px transparentize($color-accent, 0.6);
}


// docs nav /////////////////////////////////////////////////////////////////////

.docs__index {
  max-width: $column-width;
  grid-column: 2/3;
  margin: 0 auto 2em auto;
  padding: 0.5em 0;
  text-align: center;

  @include media(medium) {
    margin: 0 0 2em 0;
    padding-top: 7em;
  }
}

.docs__checkbox {
  display: none;
}

.docs__checkbox:checked ~ .docs__nav {
  @include transform(translate(0, 0));
  opacity: 1;
}

.docs__nav {
  @include transform(translate(-100%, 0));
  @include transition(transform 0.3s ease-in-out);
  opacity: 0;
  position: fixed;
  overflow-y: auto;
  top: 0;
  left: 0;
  display: block;
  margin: 0;
  padding: 0 0.5em;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: $color-accent;

  @include media(medium) {
    @include transform(translate(0, 0));
    @include transition(transform 0s ease-in-out);
    padding: 0;
    height: inherit;
    opacity: 1;
    position: -webkit-sticky;
    position: sticky;
    top: 1em;
    background-color: $color-background;
  }
}

.docs__nav-title {
  display: none;
  margin: 0 0 0.6em 0;
  font-family: $sans-stack;
  font-weight: bold;
  font-size: 0.9rem;
  text-align: center;
  border-bottom: 0.25em solid $color-accent;

  @include media(medium) {
    display: block;
    text-align: left;
  }
}

.docs__nav-list {
  list-style-type: none;
  margin: 0;

  li {
    margin: 0;
    padding: 0;
  }
}

.docs__nav-link {
  display: block;
  margin: 0;
  padding: 0 1em 1em 1em;
  font-size: 1.25em;
  font-family: $sans-stack;
  font-weight: 700;
  line-height: 1.25;

  &.active {
    color: $color-background;
    text-decoration: none;
    pointer-events: none;
  }

  @include media(medium) {
    text-align: left;
    margin: 0 0 0 -0.2rem;
    padding: 0.5em;
    font-size: 1em;
    font-style: italic;
    line-height: 1.4;

    &.active {
      color: $color-text;
      background-color: $color-tint;
      -webkit-clip-path: polygon(0% 0%, 100% 0%, 96% 100%, 0% 100%);
      clip-path: polygon(0% 0%, 100% 0%, 96% 100%, 0% 100%);
    }
  }
}

.docs__mobile-button {
  display: inline-block;
  margin: 1.5em auto 0 auto;
  padding: 0.75em 1em;
  cursor: pointer;
  z-index: 2000;
  font-family: $sans-stack;
  background-color: $color-background;
  border-radius: 2em;
  border: 0.125em solid $color-accent;

  @include media(medium) {
    display: none;
  }

  span {
    display: inline-block;
    top: -0.2em;
    width: 1.25em;
    height: 0.25em;
    background-color: $color-accent;
    position: relative;

    &::after,
    &::before {
      display: block;
      content: '';
      position: absolute;
      width: 1.25em;
      height: 0.25em;
      background-color: $color-accent;
    }

    &::before {
      margin-top: -0.35em;
    }

    &::after {
      margin-top: 0.35em;
    }
  }
}

.docs__mobile-button--close {
  margin: 1.5em auto;
  background-color: $color-accent;

  span {
    background-color: rgba(0, 0, 0, 0);

    &::before,
    &::after {
      background-color: $color-text;
      margin-top: 0;
    }

    &::before {
      @include transform(rotate(45deg));
    }

    &::after {
      @include transform(rotate(-45deg));
    }
  }
}
