// footer content /////////////////////////////////////////////////////////

.foot-logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;

  .docs__footer & {
    display: none;
  }

  a {
    text-decoration: none;
    overflow: visible;
  }

  a:first-child {
    padding-right: 1em;
  }

  img {
    width: auto;
    max-height: 1.75em;
  }
}

.foot-text {
  font-size: $font-small;
  font-style: italic;

  span {
    padding: 0.25em;
    background-color: $color-background;
    border-radius: 0.5rem;
  }
}
