// scss-lint:disable VendorPrefix

// landing layout /////////////////////////////////////////////////////////////

.landing__content {
  margin: 0 auto;
  padding: 0 2em;
  overflow-x: hidden;
  max-width: $column-width;

  @include media(medium) {
    max-width: 90em;

    @supports (display: grid) {
      max-width: 100%;
      padding: 0;
      display: grid;
      grid-template-columns: 0.25fr 1fr 65vw 1fr 0.25fr;
    }
  }

  @include media(large) {

    @supports (display: grid) {
      grid-template-columns: 1fr 1fr 55vw 1fr 1fr;
    }
  }

  @include media(x-large) {

    @supports (display: grid) {
      grid-template-columns: 1fr 5rem 80rem 5rem 1fr;
    }
  }
}

// intro //////////////////////////////////////////////////////////////////////

.intro {
  position: relative;
  grid-column: 1/6;
  margin: 0 -2em;
  padding: 2em 1em;

  @include media(medium) {
    margin: 0;
    padding: 3em 7em;
    background-color: $color-tint;
  }
}

.intro__text {
  position: relative;
  z-index: 1;
  margin: 1em 0;
  text-align: center;
  color: $color-text;
  font-variation-settings: "wdth" 140;
  font-weight: 800;

  @include media(x-large) {
    font-size: 3.5em;
  }
}


// intro text /////////////////////////////////////////////////////////////////

.lede {
  text-align: center;
  font-size: 1.25em;

  @include media(medium) {
    text-align: justify;
  }
}

.version {
  grid-column: 2/5;
  position: relative;
  padding: 0;
  margin: -2em 0 5em 0;
  font-family: $sans-stack;
  font-weight: bold;
  font-size: 0.85em;
  text-align: center;

  > span {
    display: inline-block;
    padding: 1em 2em;
    background-color: $color-brand;
    clip-path: polygon(5% 10%, 46% 1%, 46% 10%, 100% 0, 95% 90%, 31% 100%, 31% 90%, 0% 100%);
  }
}

// primary actions ////////////////////////////////////////////////////////////

.actions {
  grid-column: 3/4;
  margin: 0;

  @include media(medium) {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }
}

.actions__item {
  display: block;
  margin-bottom: 1em;
  padding: 1.5em 1em;
  text-align: center;
  line-height: 1.25;
  background-color: $color-tint;

  @include media(medium) {
    width: 32%;
    margin-bottom: 0;
  }
}

.actions__icon {
  display: block;
  width: 3.75em;
  height: 3.75em;
  margin: 0 auto 1em auto;
  background-color: $color-brand;

  .actions__item:hover & {
    background-color: $color-accent;
  }
}

.actions__icon--guide {
  -webkit-mask: url('/images/icon-guide.svg') center / 100% no-repeat;
  mask: url('/images/icon-guide.svg') center / 100% no-repeat;
}

.actions__icon--install {
  -webkit-mask: url('/images/icon-install.svg') center / 100% no-repeat;
  mask: url('/images/icon-install.svg') center / 100% no-repeat;
}

.actions__icon--github {
  -webkit-mask: url('/images/icon-github.svg') center / 100% no-repeat;
  mask: url('/images/icon-github.svg') center / 100% no-repeat;
}


