// top nav ////////////////////////////////////////////////////////////////////

.nav {
  grid-column: 1/6;
  padding-bottom: 1em;
  text-align: center;
  background-size: 1em;

  @include media(medium) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25em 1em 1em 1em;
  }
}

.nav__logo {
  display: block;
  max-width: 25rem;
  margin: 1em auto;
  padding: 0;
  text-transform: uppercase;
  font-family: $sans-stack;
  font-size: $font-x-large;

  @include media(medium) {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.nav__icon {
  width: 1.5em;
  height: auto;
  display: block;
  margin: 0 auto 0.25em auto;

  @include media(medium) {
    width: 1.25em;
    margin: 0;
    padding-right: 0.25em;
  }

  path {
    fill: $color-brand;
    transition: fill 0.2s ease;
  }

  .nav__logo:hover & {

    path {
      fill: $color-accent;
    }
  }
}

.nav__title {
  margin: 0;
  width: 5em;
  height: auto;

  @include media(medium) {
    width: 3.5em;
  }

  path {
    fill: $color-text;
    transition: fill 0.2s ease;
  }

  .nav__logo:hover & {

    path {
      fill: $color-accent;
    }
  }
}

.nav__subhead {
  margin: 1em 0 2em 0;
  font-size: $font-small;
  font-family: $sans-stack;
}

.nav__links {
  max-width: 60vw;
  padding: 0 0.25em;
  margin: 0 auto;
  line-height: 1.5;
  font-weight: bold;

  @include media(medium) {
    max-width: 100%;
    margin: 0;
    line-height: 1;
  }
}

.nav__links-item {
  display: inline-block;
  padding: 0.75em 0.2em;
  font-family: $sans-stack;
  font-weight: bold;
  text-transform: none;
  font-size: $font-medium;

  &:not(:last-child)::after {
    display: inline-block;
    margin-left: 0.3em;
    content: "/";
  }

  &.active {
    text-decoration: none;
    pointer-events: none;
  }

  @include media(medium) {
    display: inline-block;
    padding: inherit;
  }
}

// footer /////////////////////////////////////////////////////////////////////

.foot {
  padding: 2em 0 0 0;
  position: relative;
  margin: 10em 0 0 0;
  text-align: center;
  font-size: $font-small;
  padding-bottom: 2em;
  overflow: hidden;
}

.foot__logos {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  margin: 0;

  @include media(medium) {
    flex-direction: row;
  }

  a {
    padding: 1em;
    text-decoration: none;
  }
}