// top nav ////////////////////////////////////////////////////////////////////

.nav {
  grid-column: 1/6;
  padding-bottom: 1em;
  text-align: center;
  background-size: 1em;

  @include media(medium) {
    display: flex;
    justify-content: space-between;
    padding: 1.25em 1em 1em 1em;
  }
}

.nav__logo {
  display: block;
  max-width: 25rem;
  margin: 1em auto;
  padding: 0;
  text-transform: uppercase;
  font-family: $sans-stack;
  font-size: 1.5em;

  @include media(medium) {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.nav__icon {
  width: 0.9em;
  height: 0.88em;
  display: block;
  margin: 0 auto 0.25em auto;

  @include media(medium) {
    width: 1.125em;
    margin: 0;
    padding-right: 0.25em;
  }
}

.nav__title {
  margin: 0;
}

.nav__subhead {
  margin: 1em 0 2em 0;
  font-size: 0.9rem;
  font-family: $sans-stack;
}

.nav__links {
  padding: 0 0.25em;
  margin: 0 auto;
  line-height: 1.5;
  font-weight: bold;

  @include media(medium) {
    margin: 0;
    line-height: 1;
  }
}

.nav__links-item {
  display: inline-block;
  font-family: $sans-stack;
  font-weight: bold;
  text-transform: none;
  font-size: 1rem;

  &:not(:last-child)::after {
    display: inline-block;
    margin-left: 0.3rem;
    content: "/";
  }

  &.active {
    text-decoration: none;
    pointer-events: none;
  }
}

// footer /////////////////////////////////////////////////////////////////////

.foot {
  grid-column: 1/6;
  position: relative;
  margin: 10em 0 0 0;
  text-align: center;
  font-size: 0.875em;
  padding-bottom: 2em;
  overflow: hidden;

  @include media(large) {

    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      top: 20%;
      left: 5%;
      background: url("../images/pattern.svg") no-repeat center bottom;
      background-size: 100%;
      transform: rotate(180deg);
    }
  }
}

.foot__text {
  background-color: $color-background;
}

.foot__icon {
  display: block;
  max-width: 50px;
  margin: 0 auto;
}
