<footer class="footer">
  <p class="footer__headline">Brought to you by the makers of:</p>
  <ul class="footer__links">
    <li><a href="https://basecamp.com" target="_blank" rel="noopener"><img width="145" height="32" src="/assets/logo-basecamp.svg" alt="Basecamp"></a></li>
    <li><a href="https://hey.com" target="_blank" rel="noopener"><img width="123" height="57" src="/assets/logo-hey.svg" alt="HEY"></a></li>
    <li><a href="https://fizzy.do" target="_blank" rel="noopener"><img width="56" height="56" src="/assets/logo-fizzy.svg" alt="Fizzy"></a></li>
    <li><a href="https://once.com" target="_blank" rel="noopener"><img width="72" height="72" src="/assets/logo-once.svg" alt="ONCE"></a></li>
  </ul>
  <p class="footer__copyright">&copy; {{ 'now' | date: '%Y' }} <a href="https://37signals.com" target="_blank" rel="noopener">37signals</a></p>
</footer>
