<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ site.title }}{% if section_title %} {{ section_title }}{% endif %}{% if title %}: {{ title }}{% endif %}</title>
  {% if description -%}
    <meta name="description" content="{{ description }}">
  {% endif -%}
  <link rel="canonical" href="{{ page.url | remove: "index.html" | remove: ".html" | prepend: site.url }}">

  <link rel="alternate icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
  <link rel="icon" type="image/svg+xml" href="/assets/favicon.svg">
  <link rel="mask-icon" href="/assets/favicon.svg" color="#000000">
  <link rel="apple-touch-icon" href="/assets/favicon-196x196.png">

  <link rel="preload" href="/assets/fonts/Bitter-Roman.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/assets/fonts/Bitter-Italic.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/assets/fonts/Jost-Roman.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/assets/fonts/Jost-Italic.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/assets/fonts/RobotoMono-Roman.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/assets/fonts/RobotoMono-Italic.woff2" as="font" type="font/woff2" crossorigin>

  <link rel="stylesheet" href="/assets/main.css">
  <script src="/assets/main.js" type="module"></script>
  <script defer data-domain="turbo.hotwired.dev" src="https://plausible.io/js/script.js"></script>
</head>
