<a class="nav-skip" href="#content">Skip to content</a>

<nav class="jump">
  <ul class="jump__list">
    <li><a class="jump__list-link jump__list-link--hotwire" href="https://hotwired.dev">Hotwire:</a></li>
    <li><a class="jump__list-link jump__list-link--active" href="https://turbo.hotwired.dev">Turbo</a></li>
    <li><a class="jump__list-link" href="https://stimulus.hotwired.dev">Stimulus</a></li>
    <li><a class="jump__list-link" href="https://strada.hotwired.dev">Strada</a></li>
  </ul>
</nav>
