<!doctype html>
<html lang="en">

  {% include head.html %}

  <body>

    <header class="page-header">

      {% include navigation.html type="horizontal" %}
      
    </header>

    <main class="grid {{ page.layout_type }}">

      {{ content }}

    </main>

    <footer class="page-footer">
      <p class="page-footer__logos">
        <a href="https://basecamp.com/" target="_blank" rel="noopener">
          <img width="253" height="56" src="/images/logo-basecamp.svg" alt="Basecamp">
        </a>
        <a href="https://hey.com/" target="_blank" rel="noopener">
          <img width="122" height="56" src="/images/logo-hey.svg" alt="Basecamp">
        </a>
      </p>
      <p><span class="page-footer__text">Brought to you by the team at <a href="https://basecamp.com/">Basecamp</a> & <a href="https://hey.com/">HEY</a>.</span></p>
    </footer>

  </body>

</html>
